.hero-page .inline-block {
	vertical-align: top
}

.hero {
	height: 39em;
	position: relative;
	width: 24em
}

.hero .tooltipParams, .hero .id {
	display: none
}

.hero .item-slot {
	border: 1px solid rgb(0, 0, 0);
	border-radius: 5px;
	background-color: transparent;
	box-shadow: none;
	position: absolute;
	text-align: center
}

.hero .item-slot.bracers {
	left: 16em;
	top: 10em
}
.hero .item-slot.feet {
	left: 8.65em;
	top: 30em
}
.hero .item-slot.hands {
	left: 0;
	top: 11em
}
.hero .item-slot.head {
	left: 8.6em;
	top: -2em
}
.hero .item-slot.leftFinger {
	left: 17em;
	top: 20em
}
.hero .item-slot.legs {
	left: 8.65em;
	top: 20em
}
.hero .item-slot.mainHand {
	left: 0;
	top: 26em
}
.hero .item-slot.neck {
	left: 15em;
	top: 4em
}
.hero .item-slot.offHand {
	left: 17em;
	top: 26em
}
.hero .item-slot.rightFinger {
	left: -1em;
	top: 20em
}
.hero .item-slot.shoulders {
	left: 2em;
	top: 2em
}
.hero .item-slot.torso {
	left: 7.8em;
	top: 5em
}
.hero .item-slot.waist {
    left: 8.65em;
    top: 17em
}
.hero .item.ui-state-hover {
	border-color: red
}

.stat .label {
	cursor: pointer
}
.stat .toggle {
	border: 1px solid rgb(130, 130, 255);
	line-height: 0.9em;
	height: 0.9em;
	text-align: center;
	width: 0.9em
}

.item .hash {
	display: none
}

#item-lookup {
	border: none;
	height: 18em;
	width: 64em
}