.hero {
	height: 39em;
	position: relative;
	width: 24em
}

.hero .tooltipParams, .hero .id {
	display: none
}

.hero .item {
/*
	border: 1px solid rgb(0, 0, 0);
	border-radius: 5px;
*/
	border: none;
	background-color: transparent;
	box-shadow: none;
	position: absolute
}

.hero .item.bracers {
	left: 16em;
	top: 10em
}
.hero .item.feet {
	left: 8.65em;
	top: 30em
}
.hero .item.hands {
	left: 0;
	top: 11em
}
.hero .item.head {
	left: 8.6em;
	top: -2em
}
.hero .item.leftFinger {
	left: 17em;
	top: 20em
}
.hero .item.legs {
	left: 8.65em;
	top: 20em
}
.hero .item.mainHand {
	left: em;
	top: 26em
}
.hero .item.neck {
	left: 15em;
	top: 4em
}
.hero .item.offHand {
	left: 17em;
	top: 26em
}
.hero .item.rightFinger {
	left: -1em;
	top: 20em
}
.hero .item.shoulders {
	left: 2em;
	top: 2em
}
.hero .item.torso {
	left: 7.8em;
	top: 5em
}
.hero .item.waist {
    left: 8.65em;
    top: 17em
}
.stat .label {
	cursor: pointer
}
.stat .toggle {
	border: 1px solid rgb(130, 130, 255);
	line-height: 0.8em;
	height: 0.8em;
	text-align: center;
	width: 0.8em
}

.item .hash {
	display: none
}