.hero-page .inline-block {
	vertical-align: top
}

#item-lookup .inline-block {
    vertical-align: middle
}

.section.one {
	margin-left: 10px;
	width: 300px
}

.section.two {
	margin-left: 10px
}

.hero {
	background: rgb(169,152,119); /* Old browsers */
	background: radial-gradient(ellipse at center, rgb(169,152,119) 0%,rgb(18,17,15) 80%);
	border-radius: 0.5em;
	box-shadow: 0 0 6px rgb(0, 0, 0);
	height: 39em;
    margin-top: 3em;
	position: relative;
	width: 23em
}

.hero .tooltipParams, .hero .id {
	display: none
}

.hero .item-slot {
	border: 1px solid rgb(0, 0, 0);
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.3);
	box-shadow: none;
	max-height: 170px;
	min-height: 65px;
	min-width: 65px;
	position: absolute;
	text-align: center;
	vertical-align: middle
}

.hero .item-slot.bracers {
	left: 16em;
	top: 11em
}
.hero .item-slot.feet {
	left: 8.65em;
	top: 30em
}
.hero .item-slot.hands {
	left: 1em;
	top: 11em
}
.hero .item-slot.head {
	left: 8.65em;
	top: -2em;
	z-index: 1
}
.hero .item-slot.leftFinger {
	left: 17em;
	top: 20em
}
.hero .item-slot.legs {
	left: 8.65em;
	top: 20em
}
.hero .item-slot.mainHand {
	left: 0;
	top: 26em
}
.hero .item-slot.neck {
	left: 15em;
	top: 5em
}
.hero .item-slot.offHand {
	left: 17em;
	top: 26em
}
.hero .item-slot.rightFinger {
	left: 0;
	top: 20em
}
.hero .item-slot.shoulders {
	left: 2em;
	top: 2em
}
.hero .item-slot.torso {
	left: 7.8em;
	top: 5em
}
.hero .item-slot.waist {
    left: 8.65em;
    top: 17em
}
.hero .item-slot .sockets {
	left: 50%;
	margin-left: -16px;
	opacity: 0.5;
	position: absolute;
	text-align: center;
	top: 0;
	width: 32px
}

.hero .item-slot .socket {
	background-image: url('http://us.battle.net/d3/static/images/profile/hero/skill-overlays.png');
	background-position: 0 -71px;
	background-repeat: no-repeat;
	display: inline-block;
	height: 32px;
}

.hero .item-slot.ui-state-hover {
	border-color: rgb(255, 235, 0);
	box-shadow: 0 0 5px 5px rgba(250, 246, 149, 0.80)
}

.skills {
	margin-top: 2.5em
}

.list {
	background-color: rgb(18, 17, 15);
	background-image: url('http://us.battle.net/d3/static/images/layout/content-bg.jpg');
	border-radius: 0.5em;
	box-shadow: 0 0 6px rgb(0, 0, 0);
	margin-top: 0;
	text-shadow: 1px 1px 0 rgb(0, 0, 0)
}

.stats {
	overflow: hidden
}
.stats .stat {
	padding-bottom: 1em;
}
.stats .stat .nuetral {
	color: rgb(220, 220, 0);
	font-size: 1.2em;
	font-weight: bold
}

.calculated {
	width: 375px
}

.dead-0 {
	display: none
}

.dead-1, .hardcore-0 {
	color: rgb(225, 0, 0);
	font-size: 1.5em;
	font-weight: bold
}

.hardcore-1 {
	color: rgb(225, 0, 0);
	font-size: 1.5em;
	font-weight: bold
}

.skills .active .link {
	background-image: url('http://us.battle.net/d3/static/images/profile/hero/skill-overlays.png');
	background-position: -47px 0;
	display: inline-block;
	height: 42px;
	position: relative;
	width: 42px
}

.skills .active .skill-2 {
	background-position: -47px 0
}

.skills .active .skill-3 {
	background-position: -89px 0
}

.skills .active .skill-4 {
	background-position: -131px 0
}

.skills .active .skill-5 {
	background-position: -47px -42px
}
.skills .active .skill-6 {
	background-position: -89px -42px
}

.slot {
	background-image: url("http://us.battle.net/d3/static/images/profile/hero/skill-overlays.png");
	display: block;
	left: -5px;
	height: 22px;
	position: absolute;
	top: -5px;
	width: 22px
}
.skills .active .skill-2 .slot {
	background-position: -21px -1px
}
.skills .active .skill-3 .slot {
	background-position: 0 -23px
}
.skills .active .skill-4 .slot {
	background-position: -23px -23px
}
.skills .active .skill-5 .slot {
	background-position: 0 -46px
}
.skills .active .skill-6 .slot {
	background-position: -23px -46px
}

.skills .passive .link {
	background: url("http://us.battle.net/d3/static/images/profile/hero/passive-skills.png");
	background-position: 0 -41px;
	background-repeat: no-repeat;
	display: inline-block;
	height: 31px;
	padding: 5px;
	vertical-align: middle;
	width: 31px;
}

.skills .passive img {
    width: 32px;
}
.skills .passive .skill-1 {
	background-position: 0 0
}
.skills .passive .skill-2 {
	background-position: -41px 0
}
.skills .passive .skill-3 {
	background-position: -82px 0
}