/* Official Battle.Net URls */
	/*background-image: url("http://us.battle.net/d3/static/images/item/icon-bgs/yellow.png");*/
	/*background-image: url('http://us.battle.net/d3/static/images/ui/tooltip-title.jpg');*/
	/* background: http://us.battle.net/d3/static/images/icons/bullet.gif */
	.item-tool-tip {
		background-color: black;
		border: 1px solid #322a20;
		border-radius: 2px;
		box-shadow: 0 0 10px #000;
		color: #c7b377;
		width: 29em;
		padding: 2px 5px;
		z-index: 1
	}

	.item .copy-box {
		height: 7em;
		margin: 0.2em 0em 1em;
		width: 22.3em
	}

	.item .set {
		color: rgb(144, 144, 144)
	}
	.item .set .piece {
		margin-left: 20px
	}
	.item .set .piece .value {
		color: rgb(255, 255, 255)
	}

	.item .levels {
		clear: both;
		margin: 10px 20px
	}
	.item .levels .level {
		width: 12.5em
	}
	.item .levels .max {
		text-align: right
	}
	.item .levels .value {
		color: rgb(255, 255, 255)
	}

	.item .flavor {
		border-top: 2px solid rgb(50, 42, 32);
		color: rgb(173, 131, 90);
		font-family: "Palatino Linotype", "Times", serif;
		font-size: 16px;
		font-style: italic;
		margin: 10px 8px;
		padding: 10px 2px 0
	}

	.item .value {
		color: rgb(255, 255, 255)
	}

	.item .effect-bg {
		margin: 0 20px 10px
	}
	.item .effect-bg { background-position: 10px 10px; background-repeat: no-repeat; }
	.item .effect-bg.arcane { background-image: url("/media/images/effect-bgs/arcane.jpg"); }
	.item .effect-bg.cold { background-image: url("/media/images/effect-bgs/cold.jpg"); }
	.item .effect-bg.fire { background-image: url("/media/images/effect-bgs/fire.jpg"); }
	.item .effect-bg.holy { background-image: url("/media/images/effect-bgs/holy.jpg"); }
	.item .effect-bg.lightning { background-image: url("/media/images/effect-bgs/lightning.jpg"); }
	.item .effect-bg.poison { background-image: url("/media/images/effect-bgs/poison.jpg"); }
	.item .effect-bg.armor { background-image: url("/media/images/effect-bgs/armor.jpg"); background-position: 78px 20px; }
	.item .effect-bg.armor-square { background-position: 78px 14px; }
	.item .effect-bg.armor-big { background-position: 96px 20px; }
	.item .effect-bg .item-type,
	.item .effect-bg .item-armor-weapon { text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black; } /* makes the text readable when a background is used */


	.item .icon {
		background-repeat: no-repeat;
		background-position: 50% 100%;
		border: 1px solid rgb(81, 63, 46);
		border-radius: 4px;
		margin-right: 10px
	}
	.item .icon .gradient {
		background-image: url('/media/images/icon-bgs/gradient.png'); /* fallback */
		background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0));
		border-radius: 4px;
		display: block
	}

	/* scale border radius accordingly */
	.item-tool-tip.small,
	.item-tool-tip.small .icon .gradient,
	.item-tool-tip.small .icon .inner,
	.item-tool-tip-32,
	.item-tool-tip-32 .icon .gradient,
	.item-tool-tip-32 .icon .inner {
		border-radius: 2px;
	}

	/* item colors */

	.item .icon.blue {
		border-color: #6091a6;
		background-image: url("/media/images/icon-bgs/blue.png");
		background-color: #232227;
	}
		a:hover .item-tool-tip .icon.blue,
		.hover .item-tool-tip .icon.blue,
		.icon-active .item-tool-tip .icon.blue {
			border-color: #90c8d3;
		}

	.item-tool-tip .icon.brown {
		background-color: rgb(42, 32, 23);
		background-image: url("/media/images/icon-bgs/brown.png");
	}

	.item-tool-tip .icon.gray {
		background-color: #2a2017;
		background-image: url("/media/images/icon-bgs/brown.png");
		border-color: #513f2e;
	}
		a:hover .item-tool-tip .icon.gray,
		.hover .item-tool-tip .icon.gray,
		.icon-active .item-tool-tip .icon.gray {
			border-color: #7a5f45;
		}

	.item-tool-tip .icon.green {
		border-color: #748e3d;
		background-image: url("/media/images/icon-bgs/green.png");
		background-color: #262f14;
	}
		a:hover .item-tool-tip .icon.green,
		.hover .item-tool-tip .icon.green,
		.icon-active .item-tool-tip .icon.green {
			border-color: #aec75c;
		}

	.item-tool-tip .icon.orange {
		background-color: rgb(51, 35, 20);
		background-image: url("/media/images/icon-bgs/orange.png");
		border-color: rgb(176, 123, 56);
	}

	.item-tool-tip .icon.orange {
		border-color: #b07b38;
		background-image: url("/media/images/icon-bgs/orange.png");
		background-color: #332314;
	}
		a:hover .item-tool-tip .icon.orange,
		.hover .item-tool-tip .icon.orange,
		.icon-active .item-tool-tip .icon.orange {
			border-color: #d8b954;
		}

	.item-tool-tip .icon.white {
		background-color: #2a2017;
		background-image: url("/media/images/icon-bgs/brown.png");
		border-color: #513f2e;
	}
		a:hover .item-tool-tip .icon.white,
		.hover .item-tool-tip .icon.white,
		.icon-active .item-tool-tip .icon.white {
			border-color: #7a5f45;
		}

	/* yellow */
	.item-tool-tip .icon.yellow {
		border-color: #9b8e3c;
		background-image: url("/media/images/icon-bgs/yellow.png");
		background-color: #322914;
	}
		a:hover .item-tool-tip .icon.yellow,
		.hover .item-tool-tip .icon.yellow,
		.icon-active .item-tool-tip .icon.yellow {
			border-color: #cdc75a;
		}


	/* head */
	.header {
		background-image: url('/media/images/ui/tooltip-title.jpg');
		background-repeat: no-repeat;
		color: rgb(243, 230, 208);
		cursor: move;
		height: 40px;
		font-family: "Palatino Linotype", "Times", serif;
		font-size: 22px;
		line-height: 37px;
		margin: 0 0 10px;
		overflow: hidden;
		position: relative;
		text-align: center;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 360px;
	}
	.header .close {
		color: rgb(255, 255, 255);
		cursor: pointer;
		font-size: 0.7em;
		position: absolute;
		right: 1.501em;
		top: -1em
	}
	.header .close:hover {
		color: rgb(255, 0, 0)
	}

	.type-name {
		width: 125px
	}

	.slot {
		color: #909090;
		text-align: right;
		text-transform: capitalize;
		width: 93px
	}
	.item-tool-tip .header.smaller {
		font-size: 18px; line-height: 40px;
	}
	.item-tool-tip .header.smallest {
		font-size: 14px; line-height: 42px;
	}
	.item-tool-tip .header.blue {
		background-position: 0 -80px;
	}
	.item-tool-tip .header.gray,
	.item-tool-tip .header.white {
		background-position: 0 -40px;
	}
	.item-tool-tip .header.green {
		background-position: 0 -240px;
	}
	.item-tool-tip .header.orange {
		background-position: 0 -160px;
	}
	.item-tool-tip .header.purple {
		background-position: 0 -200px;
	}
	.item-tool-tip .header.yellow {
		background-position: 0 -120px;
	}

/* colors */

	/* general */
	.default, .default a { color: rgb(255, 255, 255); }
	.blue, .blue a { color: rgb(105, 105, 255); }
	.gray, .gray a { color: #909090; }
	.gold, .gold a { color: #c7b377; }
	.green, .green a {
		color: #00ff00;
	}
	.orange, .orange a { color: #bf642f; }
	.purple, .purple a { color: #a335ee; }
	.red, .red a { color: #ff0000; }
	.white, .white a { color: #fff; }
	.yellow, .yellow a { color: #ffff00; }

	a.blue:hover, .blue a:hover, a:hover .blue,
	a.gray:hover, .gray a:hover, a:hover .gray,
	a.gold:hover, .gold a:hover, a:hover .gold,
	a.green:hover, .green a:hover, a:hover .green,
	a.orange:hover, .orange a:hover, a:hover .orange,
	a.purple:hover, .purple a:hover, a:hover .purple,
	a.red:hover, .red a:hover, a:hover .red,
	a.white:hover, .white a:hover, a:hover .white,
	a.yellow:hover, .yellow a:hover a:hover .yellow { color: rgb(255, 255, 255); }

	/* runes */
	.rune { color: #F3E6D0; }
	.rune-a { color: #e52817; }
	.rune-b { color: #6e7ee5; }
	.rune-c { color: #948b91; }
	.rune-d { color: #fa8b14; }
	.rune-e { color: #f7e9b7; }

.item-tool-tip .properties {
	list-style: none;
	margin: 10px 20px 0;
	padding: 0
}
.item-tool-tip .properties .effect {
	margin: 1px 0
}
.item-tool-tip .value {
	color: rgb(189, 166, 219)
}
.item-tool-tip .top {
	color: rgb(144, 144, 144)
}
.item-tool-tip .top .value,
.item-tool-tip .level .value {
	color: rgb(255, 255, 255)
}
.item-tool-tip .big {
	font-family: "Palatino Linotype", "Times", serif;
	font-size: 400%;
	line-height: 100%;
	text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black
}
.item-tool-tip .item-requirement {
	color: #A99877
}
.item-tool-tip .blue .value {
	color: #bda6db
}
.item-tool-tip .gold .value { color: white; }
.item-tool-tip .item-type { color: white; }
.item-tool-tip .item-slot { color: #909090; }
.item-tool-tip .item-unique-equipped { text-align:left; clear:both }
.item-tool-tip .item-armor-weapon .item { color: #909090; }
.item-tool-tip .item-armor-weapon .value { color: white; }
.item-tool-tip .item-before-effects { display: none; }
.item-tool-tip .properties .effect {
	background-image: url('http://us.battle.net/d3/static/images/icons/bullet.gif');
	background-position: 2px 5px;
	background-repeat: no-repeat;
	padding-left: 16px
}
.item-tool-tip .list .effect.empty-socket {
	background: url("/media/images/item/empty-socket.png") 0 center no-repeat;
}
.item-tool-tip .list .effect.full-socket { line-height:18px; min-height:18px; background: none; padding-left:0; padding-top:7px; white-space:nowrap }
.item-tool-tip .list .effect.full-socket .gem { float:left; width:17px; height:17px; margin-right:4px }
.item-tool-tip .list .effect.full-socket .socket-effect { padding-left: 16px; background: url("http://us.battle.net/d3/static/images/icons/bullet.gif") 2px 5px no-repeat; display:inline-block; min-height:18px; line-height:18px; white-space:normal }